@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond);

/*** Example styles ***/

html,
body,
h1,
button {
  font-family: 'Cormorant Garamond', serif;
}

body {
  background: #36a1d9;
}

h1 {
  // Transition: Used for hover effect
  transition: all 3s ease-out;
  // Animation: Used with the keyframes below
  animation: pulsate 8s ease-in infinite;
  // Normal stylin'
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-weight: bold;
  font-size: 4em;
  color: white;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-transform: uppercase;
}

h1:hover {
  color: #5cefaf;
}


/*** Keyframes - used with the "animation" property in the h1 ***/

@keyframes pulsate {
  0%,
  20% {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(5px);
  }
  50%,
  70% {
    transform: translate(-50%, -50%) scale(1.5);
    filter: none;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(5px);
  }
}


/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

button {
  background: cornflowerblue;
  border-radius: 5em;
  width: 10em;
  height: 10em;
  border: 3px solid blueviolet;
  color: white;
  cursor: pointer;
  font-size: 2em;
  padding: 1em 1em;
  background-image: linear-gradient(bottom, cornflowerblue 0%, cornflowerblue 100%);
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  text-transform: uppercase;
}

button:hover {
  background: blueviolet;
  font-size: 3em;
  border-radius: 1px;
  width: 7em;
  height: 4em;
  transform: rotate(1440deg);
}

.aniheader,
.anibutton,
.aniglass,
.anistar {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass {
  width: 200px;
  height: 200px;
  background: #000;
  background: linear-gradient(to bottom, #efefef, #efefef 50%, #000 50%, #000);
  background-position: 0 -100%;
  background-size: 200% 200%;
  border: 1px solid grey;
  transform: perspective(20px) rotateX(-2deg);
  animation: fill-in 4s 4s infinite;
}
@keyframes fill-in {
  0%, 50% {
    background-position: 0 0%;
  }
  85%, 95% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0%;
  }
}

/*Twitter star animation*/
.fave {
  width: 65px;
  height: 50px;
  background: url(../../img/twitter_fave.png) no-repeat;
  background-position: 0 0;
}
.fave:hover {
  background-position: -3519px 0;
  transition: background 1s steps(55);
}
