@keyframes o-wiggle {
    0%,
    10% {
        transform: rotateZ(none);
    }
    15% {
        transform: rotateZ(-20deg);
    }
    20% {
        transform: rotateZ(15deg);
    }
    25% {
        transform: rotateZ(-15deg);
    }
    30% {
        transform: rotateZ(10deg);
    }
    35% {
        transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(6deg);
    }
    45% {
        transform: rotateZ(-4deg);
    }
    50% {
        transform: rotateZ(2deg);
    }
    100% {
        transform: rotateZ(none);
    }
}

@keyframes fill-in {
    0%,
    50% {
        background-position: 0 0%;
    }
    85%,
    95% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 0%;
    }
}

@keyframes change-background {
    0% {
        background: #2ecc71;
    }
    50% {
        background: #ffa000;
    }
    100% {
        background: #4527a0;
    }
}

@keyframes scroll {
  0%, 10% {
    background-position: 0 0;
  }
  20%, 30% {
    background-position: 0 -22em;
  }
  50%, 60% {
    background-position: 0 -44em;
  }
  90%, 100% {
    background-position: 0 0;
  }
}