
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

.aniheader,
.anibackground,
.aniglass,
.anistar,
.anirhombus,
.anitrollface,
.anibutton,
.aniscreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36a1d9;
}

.anibackground {
  animation: change-background 6s linear infinite alternate;
}

.aniglass {
  .glass {
    width: 200px;
    height: 200px;
    background: #000;
    background: linear-gradient(to bottom, #efefef, #efefef 50%, #000 50%, #000);
    background-position: 0 -100%;
    background-size: 200% 200%;
    border: 1px solid grey;
    transform: perspective(20px) rotateX(-2deg);
    animation: fill-in 4s 4s infinite;
  }
}

.anistar {
  background-color: white;
  .fave {
    width: 65px;
    height: 50px;
    background: url(../../img/twitter_fave.png) no-repeat;
    background-position: 0 0;
  }
  .fave:hover {
    background-position: -3519px 0;
    transition: background 1s steps(55, end);
  }
}

.anirhombus {
  background: #0bbea0;
  .rhombus {
    transition-property: all;
    transition-duration: 0.75s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(.77, -0.7, .24, 1.64);
    background: white;
    border-radius: 2px;
    color: #222;
    font-size: 24px;
    font: Helvetica, Arial, Sans-serif;
    height: 6em;
    width: 6em;
    transform: rotateZ(45deg);
    &:hover {
      border-radius: 50%;
      transform: scale(2);
    }
  }
}

.anitrollface {
  background: #fff;
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
  }
  h2:first-child {
    transform: translateY(-5em);
    transition: all 1s ease-out 0.4s;
  }
  h2:last-child {
    transform: translateY(5em);
    transition: all 1s ease-out 1s;
  }
  .face {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .face--pic {
      background: #fff url(../img/trollface.png) no-repeat;
      background-size: contain;
      background-position: 0 14em;
      width: 20em;
      height: 20em;
      transform: scaleX(-1);
      transition: background 1s cubic-bezier(0.68, 1, 0.265, 1);
    }
    &:hover {
      h2:first-child {
        transform: none;
      }
      h2:last-child {
        transform: none;
      }
      .face--pic {
        background-position: 0 0;
      }
    }
  }
}

.anibutton {
  background: linear-gradient(to top, #434343 0%, black 100%);
  button {
    height: 4em;
    width: 7em;
    border: none;
    border-top: 3px solid orange;
    border-radius: 0 0 0.2em 0.2em;
    font-size: 1em;
    font-family: Helvetica, Arial, Sans-serif;
    color: #fff;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: luminosity;
    transform-origin: 50% -1em;
    animation: o-wiggle 2s linear infinite;
  }
}

.aniscreen {
  .screen {
    position: relative;
    background: #e25865 url(../../img/screen_bg.png) no-repeat top center;
    background-size: 100% auto;
    border: 2em solid #fff;
    border-radius: 1em;
    width: 55em;
    height: 30em;
    animation: scroll 5s infinite cubic-bezier(0.55, -0.45, 0.68, 1.53);
    &:hover {
      animation-play-state: paused;
      .message {
        opacity: 1;
      }
    }
    .message {
      position: absolute;
      text-align: center;
      top: 4em;
      right: 4em;
      bottom: 4em;
      left: 4em;
      height: 8em;
      line-height: 6.75em;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 0.5em;
      color: #fff;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 2em;
      opacity: 0;
      transition: all 0.4s ease-out;
      transform: translateY(0.5em);
    }
  }
}
