$color-plain-white: #fff;
$color-plain-black: #000;
$color-plain-orange: orange;

$color-transparent-black: rgba(0, 0, 0, 0.5);
$color-tasty-red: #e25865;
$color-medium-gray: #434343;
$color-few-gray: rgba(255, 255, 255, 0.8);
$color-green-breath: #5cefaf;

$color-default-background: #36a1d9;
$color-rhombus-background: #0bbea0;

$color-animation-green: #2ecc71;
$color-animation-orange: #ffa000;
$color-animation-violet: #4527a0;

$color-dark-grey: #222;